@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");
.container {
  width: 65vw;
  margin: 3.5vw auto;
}

.box {
  position: relative;
  background-color: #1c202f;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.column {
  color: white;
  font-size: 1em;
  text-align: left;
}

.title {
  color: white;
}

.subtitle {
  color: grey;
}

.tag {
  background-color: #16151d !important;
  color: white !important;
}

ul {
  margin-bottom: -2.5vw;
}

.pfp {
  width: 7em;
  border-radius: 50%;
}

.profile {
  margin-top: 0.3vw;
}

.bold {
  font-weight: bold;
}

.fas {
  margin-right: 0.3em;
}

.fab {
  color: white;
}

.fab:hover {
  -webkit-transform: rotateZ(30deg) scale(1.3);
          transform: rotateZ(30deg) scale(1.3);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.nopadding {
  padding: 0% 0% 2vw 0%;
}

.project {
  padding-bottom: 1em;
}

.project p {
  text-align: center;
}

.project .description {
  margin: 0.7em 0em;
}

.icons {
  text-align: left;
  font-size: 28px;
  margin: 5px 0 10px 0;
}

@media screen and (max-width: 1052px) {
  .container {
    width: 90vw;
  }
  .column {
    margin: 0.5vh 0vh;
  }
  .pfp {
    width: 6em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 50vw;
  }
}

html, body {
  background-color: #16151d;
  text-align: left;
  font-family: "Nunito", sans-serif;
}
