@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");
.container {
  width: 65vw;
  margin: 3.5vw auto;
}

.box {
  position: relative;
  background-color: #1c202f;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.column {
  color: white;
  font-size: 1em;
  text-align: left;
  margin-top: 1.3vw;
}

.title {
  color: white;
}

.subtitle {
  color: grey;
}

.tag {
  background-color: #16151d !important;
  color: white !important;
}

.pfp {
  width: 7em;
  border-radius: 50%;
}

.profile {
  margin-top: 0.8vw;
}

.badges {
  margin-top: 0.5vw;
  width: 2rem;
}

.bold {
  font-weight: bold;
}

.fas {
  margin-right: 0.3em;
}

.nopadding {
  padding: 0% 0% 2vw 0%;
}

.project {
  padding-bottom: 1em;
}

.project .description {
  margin: 0.7em 0em;
}

@media screen and (max-width: 1052px) {
  .container {
    width: 90vw;
  }
  .column {
    margin: 1vh 0vh;
  }
  .badges {
    width: 1.7rem;
  }
  .pfp {
    width: 6em;
    margin-bottom: 1em;
  }
}

html, body {
  background-color: #16151d;
  text-align: left;
  font-family: "Nunito", sans-serif;
}
