.pfp {
    margin-left: 1.7em; 
    margin-top: 1em;
    width: 7em;
    border-radius: 50%;
}

.profile {
    margin-top: 0.8vw;
    margin-left: 2.2vw;
}

.badges {
    margin-top: 0.5vw;
    width: 2rem;
}

.bold {
    font-weight: bold;
}

.fas {
    margin-right: 0.3em;
}

.nopadding {
    padding: 0% 0% 2vw 0%;
}

.project {
    .description {
        margin: 0.7em 0em;
    }
    padding-bottom: 1em;
}