.container {
    width: 65vw; 
    margin: 3.5vw auto;
}

.box {
    position: relative;     
    background-color: #1c202f; 
    color: white;
    height: fit-content;
}

.column {
    color: white;
    font-size: 1em;
    text-align: left;
    padding: 0.5vw 2vw;
    margin-top: 1.3vw;
}

.columns {
    margin-left: 0px;
}

.title {
    color: white;
}

.subtitle {
    color: grey;
}

.tag {
    background-color: #16151d !important;
    color: white !important;
}