@media screen and (max-width: 1052px) {
    .container {
        width: 90vw;
    }

    .column {
        margin: 0.5vh 0vh;
    }

    .badges {
        width: 1.7rem;
    }

    .pfp {
        width: 6em;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 50vw;
    }
}