@media screen and (max-width: 600px) {
    .firstslide {
        margin-top: -100px;
    }

    #bio {
        font-size: 20px !important;
    }

    .container {
        width: 80%;
        height: 80%;
        font-size: 13px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .menu a {
        font-size: 25px !important;
    }

    .menu-item {
        display: block;

        &:after {
            content: "" !important;
            display: none;
        }
    }

    .project {
        display: block;
        height: auto;
        width: auto;
        float: none;
    }

    .wave {
        display: none;
    }

    .icons {
        font-size: 40px !important;
    }

    .list-divider {
        width: 70% !important;
    }

    img {
        width: 95% !important;
    }
}