.firstslide {
    @extend .slide-basic;
    background-color: #f4f4f4;
    color: black;
}

.firstslide:before {
    @extend .slide-basic:before;
    background-color: #f4f4f4;
    z-index: 1;
    transform: skewY(-2deg);
    transform-origin: 0% 0;
}

.secondslide {
    @extend .slide-basic;
    background-color: white;
    color: black;
}

.secondslide:before {
    @extend .slide-basic:before; 
    background-color: white;
    z-index: 2;
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg);
    transform-origin: 100% 0;
}