@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital@1&display=swap');
@import "sass/globals";
@import "sass/slides";
@import "sass/queries";

body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 170px 0;
    background-image: url("assets/sunset.png");
    background-position: center top fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    transition-duration: .5s;
}

.menu a:hover {
    color: red;
}

.menu-item {
    font-size: 30px;
}

.menu-item:after {
    content: "•";
    display: inline-block;
    padding: 0 3%;
    color: white;
}

.menu-item:last-child:after {
    display: none;
}
